

<div class="topnav">
	<a href="/home"   {% if url_for(request.endpoint) == '/home/' %}class="active"{% endif %}>Home</a>
	<a href="/runner" {% if url_for(request.endpoint) == '/runner/' %}class="active"{% endif %}>Runner</a>
		
{% if current_user.is_authenticated %}
	<div class="dropdown" {% if url_for(request.endpoint).startswith('/parkrun/') %} active {% endif %}>
		<button class="dropbtn" {% if url_for(request.endpoint).startswith('/parkrun/') %}" class=active"{% endif %}>Parkrun
					<i class="fa fa-caret-down"></i>
		</button>
		 <div class="dropdown-content active">
			{% for item in runners %}
					<a href="/parkrun/{{ item.rid }}">{{ item.fullname}} ({{ item.rid }})</a>  
			{% endfor %}	
		 </div>
	</div>
{% endif %}
 
	<a href="/map" {% if url_for(request.endpoint) == '/map/' %}class="active"{% endif %}>Map</a>	
 
	<a href="/ele" {% if url_for(request.endpoint) == '/ele/' %}class="active"{% endif %}>Elevations</a>	
	<div class="topnav-right">
	{% if current_user.is_anonymous %}
		<a href="/login" {% if url_for(request.endpoint) == '/login/' %}class="active"{% endif %}>Login</a>
	{% else %}
		<a href="/user">{{ current_user.username|title }}</a>
		<a href="/logout" {% if url_for(request.endpoint) == '/logout/' %}
			class="active"{% endif %}>Logout</a>	
	{% endif %}
	</div>
</div>
{% if current_user.is_authenticated %}
	<div>User: {{ current_user.username|title}}</div>
	<div>Home Run/Postcode: {{ home_run() }}/{{ home_postcode() }}</div>
{% endif %}

