{% include "_header.html" %}
{% include "_menubar.html" %}

{% if current_user.is_authenticated %}

    <h1>Home Run: {{ current_user.home_run }}</h1>
    <div class="custom-select" style="width:200px;">
	    <select name="Show">
  			<option value="select">Select</option>
  			<option value="all" selected>All</option>
  			<option value="run">Courses not run</option>
  			<option value="not-run">Courses run</option>
		</select>
	</div>
    <div id="redmap"></div>
    <p>
	<table style="width:70%;">
		<tr>
			<th width="5%" align="center">#</th>
			<th width="45%" align="left">parkrun</th>
			<th width="10%" align="right">miles</th>
			<th width="10%" align="center">count</th>
		</tr>
		{% for rname, rdist, rlat, rlng, rflag, rtimesrun in markers %}
			<tr>
				<td align="center" 
					{% if rtimesrun|int < 1 %} id="hilitered"
		   			{% else %} id="hilitegreen"
					{% endif %}>{{ loop.index }}.</td>
				<td>{{ rname }}</td>
				<td align="right">{{ rdist }}</td>
				<td align="center">{{ rtimesrun }}</td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	<h1>Home</h1>
	<P>
	<b>You are not logged in. To continue <a href = '/login'>login</a></b>
	<P> 
{% endif %}	
        
<script type="text/javascript">

   function initMap() {
      var center = {{ map_centre|safe }};
      var map = new google.maps.Map(
          document.getElementById('redmap'),
          {zoom: 10, 
          center: new google.maps.LatLng(center[0], center[1]) }
          );
          
      var marker = new google.maps.Marker({position: map.getCenter(), 
                                            map: map, 
                                            icon: {
                                              path: google.maps.SymbolPath.CIRCLE,
                                              scale: 12
                                              },
                                            draggable: false,
                                          });
      
      var locations = {{ markers|safe }};
      var marker, i;

        for (i = 0; i < locations.length; i++) { 
	 		var image = '/static/' + locations[i][4] + '.jpeg';
            marker = new google.maps.Marker({
                title: locations[i][0],
                position: new google.maps.LatLng(locations[i][2], locations[i][3]),
                icon: image,
                map: map,
                label: (i+1).toString() /* labels[labelindex++ % labels.length] */
             });

			var infowindow = new google.maps.InfoWindow({ 
				content: '<div>' + (i+1).toString() + '. <B>' + locations[i][0] +
						'</B><P>{{ current_user.username }}</div>'
//				content: '{% include "_map_popup.html" %}'
				});

			//creates an infowindow 'key' in the marker.
			marker.infowindow = infowindow;

			//finally call the explicit infowindow object
			marker.addListener('click', function() {
				return this.infowindow.open(map, this);
			});
        }
    }
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap">
</script>
<P>    
{% include "_footer.html" %}
{% include "customselect.js" %}

