{% include "_header.html" %}
{% include "_menubar.html" %}

<h1>Home</h1>
{% if current_user.is_authenticated %}

	<table style="width:50%;">
		<tr>
			<th width="40%" align="left">Parkrun</th>
			<th width="10%" align="right">Distance</th>
		</tr>
		{% for item in closest %}
			<tr>
				<td><a href="#">{{ item.name }}</a></td>
				<td align="right">{{ item.distance }} (m)</td>
			</tr>
		{% endfor %}
	</table>
{% else %}
	<P>
	login to see closest runs
	<P> 
{% endif %}

<p>

	<img src="../static/mygraph.png?" + {{ timestamp }} alt="graph by year" width="50%">

<p>
{% include "_footer.html" %}
