{% include "_header.html" %}
{% include "_menubar.html" %}

<h1>Home</h1>

<div>
	<table width="50%" id='table'>
		<tr>
			<th width="30%" align="left">parkrun</th>
			<th width="20%" align="center">Distance</th>
		</tr>
		{% for item in closest %}
				<tr>
					<td><a href="#">{{ item.name }}</a></td>
					<td>{{ item.distance }} tbd</td>
		{% endfor %}
	</table>

</div>
<div>
<img src="../static/mygraph.png?" + {{ timestamp }} alt="graph by year" width="40%">
</div>

<p>
{% include "_footer.html" %}
