{% include "_header.html" %}
{% include "_menubar.html" %}
<style>
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
</style>

    <h1>Map</h1>
    <div id="map"></div>
    <p>
	<table style="width:70%;">
		<tr>
			<th width="55%" align="left">parkrun</th>
			<th width="15%" align="right">miles</th>
		</tr>
		{% for k,v in markers %}
			<tr>
				<td>{{ loop.index }}. {{ k }}</td>
				<td align="right">{{ v }}</td>
			</tr>
		{% endfor %}
	</table>
	
    CENTER={{ map_centre|safe }}<p>
    MARKERS={{ markers|safe }}
        
<script type="text/javascript">

    function initMap() {
    
      /* var uluru = {lat: -25.344, lng: 131.036}; <td align="right">{ "%0.2f" % item[1]|float }}</td>*/
      var center = {{ map_centre|safe }};
      var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
      var labelindex = 0;
      
      var map = new google.maps.Map(
          document.getElementById('map'), 
          {zoom: 10, 
          center: new google.maps.LatLng(center[0], center[1]) }
          );
          
      var marker = new google.maps.Marker({position: map.getCenter(), 
                                            map: map, 
                                            icon: {
                                              path: google.maps.SymbolPath.CIRCLE,
                                              scale: 10
                                              },
                                            draggable: false,
                                          });
      
      var locations = {{ markers|safe }};
      var marker, i;

        for (i = 0; i < locations.length; i++) { 
	 		var image = 'static/' + locations[i][4] + '.jpeg';
            marker = new google.maps.Marker({
                title: locations[i][0],
                position: new google.maps.LatLng(locations[i][2], 
                                                 locations[i][3]
                                                 ),
                icon: image,
                map: map,
                label: (i+1).toString() /* labels[labelindex++ % labels.length] */
              });
        }
    }
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap">
</script>
<P>    
{% include "_footer.html" %}
