{% include "_header.html" %}
{% include "_menubar.html" %}

<style>
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
</style>

    <h1>Map</h1>
    <div id="map"></div>
    
    {% for place in data %}
    <p>{{ place }}
    <p>{{ place.name }} {{ place.lat }}, {{ place.lng }}
    {% endfor %}
    
<script type="text/javascript">

    function initMap() {
    
      var uluru = {lat: -25.344, lng: 131.036};
      var center = {{ map_centre }} 
      /*var markers = {{ markers }} */
      
      var map = new google.maps.Map(
          document.getElementById('map'), {zoom: 11, center: center });
          
      var marker = new google.maps.Marker({position: map.getCenter(), 
                                            map: map, 
                                            title: '🏃‍♂️', 
                                            icon: {
                                              path: google.maps.SymbolPath.CIRCLE,
                                              scale: 10
                                              },
                                            draggable: false,
                                          });
                                          
      /* var marker1 = new google.maps.Marker({position: markers, map: map}); */
      
      var locations = {{ data }};
      var marker, i;

        for (i = 0; i < locations.length; i++) { 
            console.log(locations[i]);
            console.log(locations[i].name);
            marker = new google.maps.Marker({
                position: new google.maps.LatLng(locations[i]['lat'], 
                locations[i]['lng']),
                map: map,
                title: locations[i]['name']
    });
}
    }
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap">
</script>
<P>    
{% include "_footer.html" %}
