{% include "_header.html" %}
{% include "_menubar.html" %}

    <style>
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;  /* The height is 400 pixels */
        width: 70%;  /* The width is the width of the web page */
       }
    </style>

    <h1>Map</h1>
    <div id="map"></div>
    <script>
// Initialize and add the map
function initMap() {
  // The location of Uluru
  var uluru = {lat: -25.344, lng: 131.036};
  var home = {{ map_centre }} 
  // The map, centered at Uluru
  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: home });
  // The marker, positioned at Uluru
  var marker = new google.maps.Marker({position: home, map: map});
}
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap">
    </script>
<P>    
{% include "_footer.html" %}
