{% include "_header.html" %}
{% include "_menubar.html" %}

	<h1>{{ title }}</h1>
	<form action='/parkrun/{{ runnerid }}/' method="POST" name="form">
		<input type="text" autocomplete="off" autocapitalize="off" spellcheck="off" name="filter" 
		placeholder="(filter by)" value="{{ request.form['filter'] }}"></input>
		<input type="text" name="vthreshold"></input>
		<button type="submit" name="filter" value="Filter">Filter</button>
	</form>	<table id='table'>
		<tr>
			<th onclick="sortTable(0)" width="40%" align="left">Run</th>
			<th onclick="sortTable(1)" width="15%" align="center">Date</th>
			<th onclick="sortTable(2)" width="10%" align="center">No</th>
			<th onclick="sortTable(3)" width="10%" align="center">Pos</th>
			<th onclick="sortTable(4)" width="10%" align="center">Time</th>			
			<th onclick="sortTable(5)" width="10%" align="center">Age Grading</th>			
			<th onclick="sortTable(6)" width="5%"  align="center">PB</th>			
		</tr>
		{% for item in data %}
				<tr>
					<td>{{ item.Event }}</td>
					<td align="center">{{ item['Run Date'] | datetimefilter('%d-%b-%Y') }}</td>
					<td align="center">{{ '%4d' % item['Run Number'] }}</td>
					<td align="center">{{ '%4d' % item['Pos'] }}</td>
						<td align="center" 
							{% if item['Time'] < threshold %} 
								id="hilite"
							{% endif %}>
							{{ item['Time'] }}</b>
						</td>
					<td align="center">{{ item['Age Grade'] }}</td>
					<td align="center">{{ item['PB?'] }}</td>
	{% endfor %}
		<P>
	</table>{{ threshold }}
	<P>

{% include "_footer.html" %}
