{% include "_header.html" %}
{% include "_menubar.html" %}

<h1>User</h1>
{% if current_user.is_authenticated %}
	<table>
		<tr>
			<td>User name</td>
			<td>{{ current_user.username|title }}</td>
		</tr>
		<tr>
			<td>Home run</td>
			<td>{{ current_user.home_run|title }}</td>
		</tr>
		<tr>
			<td>Home postcode</td>
			<td>{{ current_user.home_postcode }}</td>
		</tr>
	</table>
{% else %}
	<P>
	<b>You are not logged in. To continue <a href = '/login'>login</a></b>
	<P> 
{% endif %}

<p>
{% include "_footer.html" %}
